<div class="sidebar sticky-top">        
    <!-- Go to your Mailchimp account/Lists/Sign Up Forms/Embedded forms and replace the code below with your own  -->
    
    <div class="sidebar-section">
        <h5><span>Gratis cursus</span></h5>
        <a href="https://soofos.nl/cursus/minder-zooi-meer-geluk/?ref=167"><img src="{{site.baseurl}}/assets/images/ads/minderzooimeergeluk.png"></a>
        <h5><span>Betaalde cursus</span></h5>
        <a href="https://soofos.nl/cursus/ontspullen-minimalisme/?ref=167"><img src="{{site.baseurl}}/assets/images/ads/levenmetminderspullen.png"></a>
    </div>
</div>